[submodule "user/demos/phoenix"]
	path = user/demos/phoenix-2.0
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/phoenix.git
	branch = phoenix-2.0
[submodule "user/demos/ligra"]
	path = user/demos/ligra
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/ligra.git
  branch = master
[submodule "user/demos/dbx1000"]
	path = user/demos/dbx1000
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/dbx1000.git
  branch = chcore
[submodule "user/demos/cpython"]
	path = user/demos/cpython
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/cpython.git
  branch = 3.12
[submodule "user/libraries/libffi"]
	path = user/libraries/libffi
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/libffi.git
  branch = dev
[submodule "user/libraries/zlib"]
	path = user/libraries/zlib
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/zlib.git
	branch = master
[submodule "user/libraries/rpmalloc"]
	path = user/libraries/rpmalloc
	url = git@ipads.se.sjtu.edu.cn:nvsys/FITS/demos/rpmalloc.git
